# Project files
*.komodoproject
.idea/
.metadata/
.project
.settings/
.pydevproject
.idea
.dartignore

.sw*
*.vim
*.zip

# Code build files
*.egg-info/
build/
__pycache__/
*.pyc

# Code documentation
docs/sphinx/_build/
venv/

# Backup files
*.bak
*.log
*.*~
*~

# Sandbox
**/_tmp/*
**/tmp/*
sandbox/
_tmp/
data.*

# pytest
.cache/*

# distribution
.eggs/*
dist/*

